* {
    font-family: "JetBrainsMono Nerd Font", monospace;
    font-size: 16px;
    font-weight: bold;
}

window#waybar {
    background-color: rgba(30, 34, 42, 0.75); /* Gri/Sur închis cu transparență */
    color: #c0caf5;
    border-bottom: 2px solid rgba(255, 255, 255, 0.1);
}

#workspaces,
#window,
#network,
#pulseaudio,
#microphone,
#battery,
#backlight,
#clock,
#cpu,
#memory,
#temperature,
#custom-power {
    background: transparent;
    padding: 3px 8px;
    margin: 0px 2px;
}

#workspaces button {
    color: #7aa2f7;
    padding: 2px 6px;
    margin: 0px 2px;
    background: transparent;
    border-radius: 4px;
    transition: all 0.2s ease-in-out;
}

#workspaces button.focused,
#workspaces button.active {
    background-color: rgba(61, 89, 161, 0.6);
    color: #ffffff;
    border-bottom: 2px solid #7aa2f7;
}

#workspaces button:hover {
    background-color: rgba(42, 195, 222, 0.3);
    color: #ffffff;
}

#window {
    color: #7dcfff;
}

#clock {
    color: #c0caf5;
}

#network {
    color: #7ea997;
}

#pulseaudio {
    color: #7aa2f7;
}

#battery {
    color: #9ece6a;
}

#battery.charging, #battery.plugged {
    color: #73daca;
}

#battery.critical:not(.charging) {
    color: #f7768e;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#memory {
    color: #bb9af7;
}

#cpu {
    color: #b4f9f8;
}

#temperature {
    color: #f7768e;
}

#custom-power {
    color: #f7768e;
    padding-left: 10px;
    padding-right: 10px;
}
